.section {
  width: 450px;
  min-height: 350px;
  border: 1px solid var(--main-shadow);
  border-radius: 5px;
  box-shadow: 14px 14px var(--main-shadow);
  padding: 40px 20px;
  font-size: 20px;
  margin: 20px;
}

.section__title {
  font-size: 36px;
  text-align: center;
  padding: 10px 10px 40px 10px;
}

.section__icon {
  display: block;
  width: 70px;
  height: 70px;
  color: rgb(13, 110, 11);
  margin: 20px auto;
}
