:root {
  --main-color: rgb(13, 110, 11);
  --main-shadow: rgba(82, 141, 82, 0.801);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  padding: 30px;
}

.container {
  display: flex;
}
